.c9-icon {
    background-image: url(../assets/c9-repeat-x.png);
    width: 28px;
    height: 28px;
    display: inline-block;
    vertical-align: text-bottom;
}
.c9-icon.project_files { background-position: 50% -249px; }
.c9-icon.open_files { background-position: 50% -277px; }
.c9-icon.rundebug { background-position: 50% -305px; }
.c9-icon.deploy { background-position: 50% -334px; }
.c9-icon.preferences { background-position: 50% -364px; }
