#puissance4 table, #puissance4 td, #puissance4 tr {
    padding: 0;
    margin: auto;
}
#puissance4 table {
    background-color: blue;
}
#puissance4 td {
    width: 5em;
    height: 5em;
    border-radius: 5em;
    border: solid thick blue;
}
#puissance4 td, #puissance4 td.empty {
    background-color: white;
}
#puissance4 td.player1 {
    background-color: red;
}
#puissance4 td.player2 {
    background-color: yellow;
}
#puissance4 p {
    text-align: center;
    font-size: 200%;
    font-weight: bold;
}