<div id="plan">
  <style scoped>
    #plan h2 small {
	font-weight: normal;
	font-size: 60%;
    }
    #plan h2 a:after { content: " montrer"; }
    #plan.checked h2 a:after { content: " cacher"; }
    #plan dt { font-weight: normal; }
  </style>
  <h2>Plan <small>(<a id="un_check" href="#">tout</a>)</small></h2>

  {% for week in site.data.plan %}
  <div class="week collapsible collapsed" id="semaine-{{ forloop.index }}" data-date="{{ week.date }}">
    <div class="always-on">
      <h3>Semaine {{ forloop.index }} ({{ week.date | date: "%d/%m/%Y" }})</h3>
    </div>
    <dl class="toggleable">
      {% for item in week.contents %}
      {% for it in item %}
      <dt>{{ it[0] }} :</dt>
      {% for link in it[1] %}
      {% if link.url %}
      <dd>{% include link.html href=link.url %}
	{% if link.comment %}({{ link.comment }}){% endif %}</dd>
      {% else %}
      <dd>{% include link.html href=link %}</dd>
      {% endif %}
      {% endfor %}
      {% endfor %}
      {% endfor %}
    </dl>
  </div>
  {% endfor %}

</div>
<script>
window.on('load', function() {
  $('#un_check').on('click', function (e) {
    $this = $('#plan');
    var chkd = $this.classList.toggle('checked');
    $this.$$('.collapsible').forEach(function (x) {
      chkd ? x.check() : x.uncheck();
    });
    e.preventDefault();
  });
  $$(".week").forEach(function (w) {
    var delta = Date.now() - Date.parse(w.dataset['date']) - (new Date).getTimezoneOffset()*60*1000;
    console.log(delta);
    if (0 <= delta && delta < 7*24*60*60*1000) {
      w.check();
    }
  });
});
</script>
