<style>
  #plan {
  width: 100%;
  }
  #plan td {
  width: 50%;
  padding: 0 0.5ex;
  }
  #plan thead {

  font-size: 120%;
  font-weight: bold;
  font-style: italic;
  color: #999;
  }
  #plan tbody tr:first-child {
  padding-top: 1ex;
  font-weight: bold;
  border-top: solid thin #eee;
  }
  #plan li {
  list-style-type: none;
  }
</style>

{% assign lessons = site.collections | where:'label', 'lessons' | first %}
{% assign tds = site.collections | where:'label', 'tutorials' | first %}
<table id="plan">
  <thead>
    <th>Leçons et Capsules vidéos</th>
    <th>Travaux dirigés</th>
  </thead>
  {% for theme in include.plan %}
  <tbody>
    <tr><td>{{ theme.desc | markdownify }}</td></tr>
    <tr><td>
	<ul>{% for l in theme.lessons %}
	  {% if l.url %}
	  <li>{% if l.comment %}{{ l.comment }}{% endif %}
	    {% include link.html collection=lessons href=l.url %}</li>
	  {% else %}
	  <li>{% include link.html collection=lessons href=l %}</li>
	  {% endif %}
	  {% endfor %}
	</ul>
      </td><td>
	<ul>{% for t in theme.tutorials %}
	  {% if t.url %}
	  <li>{% if t.comment %}{{ t.comment }}{% endif %}
	    {% include link.html collection=tds href=t.url %}</li>
	  {% else %}
	  <li>{% include link.html collection=tds href=t %}</li>
	  {% endif %}
	  {% endfor %}
	</ul>
    </td></tr>
  </tbody>
  {% endfor %}
</table>
