<div id="slides">

  <section class="title-slide">
    <div>
      <h1>{{ page.title }} <span class="subtitle">{{ page.subtitle }}</span></h1>

      <div id="slides-license" style="display: none">
	<p><a rel="license"
	      href="http://creativecommons.org/licenses/by-sa/4.0/">
	    <img alt="Creative Commons Licence" style="border-width:0"
		 src="http://i.creativecommons.org/l/by-sa/4.0/88x31.png"/>
	  </a> {% if page.copyright %}{{ page.copyright | join: ", "  }}{% else %}<a href="http://defeo.lu">Luca De Feo</a> {% endif %}
	  {{ site.time | date:"%Y" }},<br/> Distribué avec une licence
	  <a rel="license"
	     href="http://creativecommons.org/licenses/by-sa/4.0/">CC-BY-SA
	    4.0</a><sup>*</sup>.</p>
	
	<p><small><sup>*</sup>Vous avez droit de reproduire, distribuer
            et modifier à condition d'inclure un lien vers cette source,
            et de partager sous les mêmes conditions.</small></p>
      </div>
    </div>
  </section>

  {{ content }}

  <section id="exit-slide" style="display:none">
    <h3 class="centered">Appuyer sur ECHAP pour sortir de la
    présentation, ou <a href="javascript:Dz.pause()">cliquer
    ici</a>.</h3>
  </section>
</div>

<div id="controls"></div>
<div id="progress-bar"></div>
