<div id="slides">

  <section class="title-slide">
    <div>
      <h1>{{ page.title }} <span class="subtitle">{{ page.subtitle }}</span></h1>

      <div id="slides-license" style="display: none">
	<p><a rel="license"
	      href="http://creativecommons.org/licenses/by-sa/4.0/">
	    <img alt="Creative Commons Licence" style="border-width:0"
		 src="http://i.creativecommons.org/l/by-sa/4.0/88x31.png"/>
	  </a> <a href="http://defeo.lu">Luca De Feo</a>
	  {{ site.time | date:"%Y" }},<br/> licenced under
	  <a rel="license"
	     href="http://creativecommons.org/licenses/by-sa/4.0/">CC-BY-SA
	    4.0</a><sup>*</sup>.</p>
	
	<p><small><sup>*</sup>You have the right to copy, distribute
	    and modify, provided you link to this source, and share
	    under the same license.</small></p>
      </div>
    </div>
  </section>

  {{ content }}

  <section id="exit-slide" style="display:none">
    <h3 class="centered">Press ESC to exit presentation mode,
    or <a href="javascript:Dz.pause()">click here</a>.</h3>
  </section>
</div>

<div id="controls"></div>
<div id="progress-bar"></div>
