---
---

.m-wrap, .m-header {
    margin: 0;
}
.m-header {
    background-color: transparent;
    border-top: solid thin rgba(0,0,0,0.2);
    padding-top: 1ex;
}
.m-sidebar {
    width: 25%;
}
.m-page {
    width: 75%;
}
.m-tablet .m-subnavi {
    background-color: transparent;
}
.m-tablet .m-subnavi .m-login {
    color: rgba(0,0,0,0.6);
}
.m-navi a {
    border-radius: 1.8em;
}
.m-navi {
    .m-nav-feed, .m-nav-all { cursor: pointer; }
}
.m-search input {
    border: solid thin rgba(0,0,0,0.2);
}
#moot-logo a::after {
    content: " WebDev @UVSQ"
}
