$background-color: white;
$link-color: #268bd2;
$subtitle-color: #999;
$pre-background-color: #eee;
$pre-border-color: $pre-background-color - #444;
$code-color: #d00;
$footnote-line-color: #888;

$topbar-text-color: #666;
$topbar-active-color: #000;
$topbar-line-color: #ddd;

$footer-text-color: $topbar-text-color;
$footer-line-color: $topbar-line-color;

$forkme-color: #a00;
$forkme-text-color: white;
$forkme-ribbon-size: 200px;
