---
---

#content .clicker-poll {
    ul.clicker-choices {
	list-style: none;
	padding-left: 5px;
    }
    button:disabled { opacity: 0.5 }
    
    .clicker-grade {
	padding-left: 10px;
	&.fa-close { color: red }
	&.fa-check { color: green }
    }
    
    &.answered {
	input:checked { outline: solid 3px #f00; }
	.clicker-correct {
	    input {
		outline: solid 3px;
		outline-color: #00f;
	    }
	    input:checked { outline-color: #0f0; }
	}
    }
}

#clicker-results {
    display: flex;
    flex-flow: row wrap;
    > .clicker-poll {
	margin: 0 2rem;
	flex: 0 0 18rem;
	li { text-align: left };
    }
}
#clicker-bar {
    display: block;
    margin: auto;
}

#stats-users {
    ul {
	padding: 0;
	list-style-type: none;
	text-align: justify;
    }
    li {
	display: inline-block;
	margin: 4px;
	padding: 2px;
	box-shadow: 0 0 2px 0 blue;
/*	background-color: blue;
	a { color: white; }*/
    }
}