<!DOCTYPE html>
{% include defs.html %}
<html>
  <head lang="en">
    <meta charset="utf-8">
    <title>{{ page.title | strip_html }}</title>

    {% if page.plugins contains 'highlight' %}
    <link rel="stylesheet" href="{{ site.baseurl }}/css/highlight-default.css">
    {% endif %}

    {% if page.plugins contains 'slideshow' %}
    <link class="slideshow-css" rel="stylesheet" href="{{ site.baseurl }}/css/dz-slides.css">
    <link class="slideshow-css" rel="stylesheet" href="{{ site.baseurl }}/css/dz-slides-customization.css">
    {% if page.plugins.slideshow.width and page.plugins.slideshow.height %}
    <style class="slideshow-css">
      html.slideshow body {
        width: {{ page.plugins.slideshow.width }}px;
        height: {{ page.plugins.slideshow.height }}px;
        margin-left: -{{ page.plugins.slideshow.width | divided_by: 2 }}px;
        margin-top: -{{ page.plugins.slideshow.height | divided_by: 2 }}px;
      }
      html.slideshow.view section {
        width: {{ page.plugins.slideshow.width }}px;
        height: {{ page.plugins.slideshow.height }}px;
        margin: -{{ page.plugins.slideshow.height | divided_by: 4 }}px -{{ page.plugins.slideshow.width | divided_by: 4 }}px;
      }
      html.slideshow.view section:after {
        bottom: -{{ page.plugins.slideshow.height | divided_by: 8 }}px
        right: -{{ page.plugins.slideshow.width | divided_by: 8 }}px
      }
    </style>
    {% endif %}
    {% endif %}

    {% if page.video %}
    <link class="slideshow-css" rel="stylesheet" href="{{ site.baseurl }}/css/video-popup.css">
    {% endif %}

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
    {% for s in page.styles %}
    <link rel="stylesheet" href="{{ s }}"/>
    {% endfor %}

    <link href="{{ github_commits }}.atom" rel="alternate" title="Recent Commits to {{ site.github.repository_name }}" type="application/atom+xml" />

    <script src="{{ site.baseurl }}/js/polyfills.js"></script>
  </head>
  <body>

    <a id="forkme" class="dont-print" href="{{ site.github.repository_url }}">
      <img style="position: absolute; top: 0; right: 0; border: 0;"
	   src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png"
	   alt="Fork me on GitHub"></a>

    <ul class="menu dont-print" id="top-menu">
      <li><a href="{{ site.baseurl }}/">Home</a></li>
      <li><a href="{{ github_blob }}/{{ page.path }}">Source</a></li>
      <li><a href="{{ github_edit }}/{{ page.path }}">Quick edit</a></li>
      <li><a href="javascript:window.print()">Print</a></li>
      {% if page.plugins contains 'slideshow' %}
      <li><a href="javascript:Dz.play()">Start slideshow</a>
      </li>
      {% endif %}
      {% if page.video %}
      <li><a href="#video-popup">Video</a></li>
      <div id="video-popup">
	<div>
	<a href="#" class="close"><i class="fa fa-close"></i></a>
	<video controls preload="metadata">
	  <source src="{{ page.video.url }}#t={{ page.video.start }}{% if page.video.end %},{{ page.video.end }}{% endif %}">
	</video>
	</div>
      </div>
      {% endif %}
      <li><a href="{{ site.baseurl }}/HELP">Help</a></li>
    </ul>

    <div class="main">
      <div class="container">
	{% if page.plugins contains 'slideshow' %}
	{% include slideshow.html %}
	{% else %}
	{{ content }}
	{% endif %}
      </div>

      <footer class="footer">
	<div class="container">
	  <p><a rel="license"
		href="http://creativecommons.org/licenses/by-sa/4.0/">
	      <img alt="Creative Commons Licence" style="border-width:0"
		   src="http://i.creativecommons.org/l/by-sa/4.0/80x15.png"/>
	    </a> <a href="http://defeo.lu" class="print-link">Luca De
	      Feo</a> {{ site.time | date:"%Y" }}, licensed
	    under <a rel="license" class="print-link"
		     href="http://creativecommons.org/licenses/by-sa/4.0/">CC-BY-SA
	      4.0</a>.</p>

	  <p class="dont-print">Source code available
	    on <a href="{{ site.github.repository_url }}">GitHub</a>,
	    static Website generated
	    with <a href="http://jekyllrb.com/">Jekyll</a> and kindly
	    hosted by <a href="http://pages.github.com/">GitHub</a>.</p>
	</div>
      </footer>
    </div>

    {% if page.plugins contains 'slideshow' %}
    <script async src="{{ site.baseurl }}/js/dz-slides.js"></script>
    {% endif %}

    {% if page.plugins contains 'mathjax' %}
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        config: ["MMLorHTML.js"],
        jax: ["input/TeX","input/AsciiMath","output/HTML-CSS","output/NativeMML"],
        extensions: ["MathMenu.js","MathZoom.js"],
        TeX: {
          extensions: ["AMSmath.js","AMSsymbols.js","noErrors.js","noUndefined.js"],
        }
      });
    </script>
    <script src="//cdn.mathjax.org/mathjax/latest/MathJax.js"></script>
    {% endif %}

    {% if page.plugins contains 'highlight' %}
    <script src="{{ site.baseurl }}/js/highlight.pack.js"></script>
    <script>
      hljs.configure({
        tabReplace: '    '
      });
      hljs.initHighlightingOnLoad();
    </script>
    {% endif %}

    {% for s in page.scripts %}
    <script src="{{ s }}"></script>
    {% endfor %}
  </body>
</html>
