---
---

<!Doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Réservation présentations</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.2/react.js"></script>
    <script src="../assets/js/bower_components/classnames/index.js"></script>
    <!--script src="../js/bower_components/firebase/firebase.js"></script>
    <script src="../js/bower_components/react/react.js"></script-->
    <script>
      var students = [
      {% for s in site.data.projects-2018-uvsq.students %}
      { group: "{{ s.group }}", nom: "{{ s.nom }}", prenom: "{{ s.prenom }}" },
      {% endfor %}
      ];
      var groups = {
      {% for g in site.data.projects-2018-uvsq.groups %}
      "{{ g[0] }}" : { project: "{{ g[1].project }}", glitch: "{{ g[1].glitch }}", github: "{{ g[1].github }}", run: "{{ g[1].run }}", students: [] },
      {% endfor %}
      };
      for (var s of students) groups[s.group] && groups[s.group].students.push(s);
      for (var g in groups)
          groups[g].description = groups[g].students.map(function(s) {
	      return s.nom + ' ' + s.prenom;
	  }).join(', ') + ' (' + groups[g].project + ')';
    </script>
  </head>
  <body>
    <div id="component"></div>
    <!--script src="../js/bower_components/react/JSXTransformer.js"></script>
    <script type="text/jsx" src="app.jsx"></script-->
    <script src="app.js"></script>
    
    <footer>
      <p>Built
	with <a href="https://facebook.github.io/react/">React.js</a>
	and <a href="https://www.firebase.com/">Firebase</a>. Source
	code
	on <a href="https://github.com/defeo/aws/tree/gh-pages/defenses">Github <i class="github"></i></a>.</p>
    </footer>
  </body>
</html>
